In [2]:
#importing libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer
from sklearn.neighbors import LocalOutlierFactor
from scipy.stats import probplot
from scipy.stats import zscore

In [3]:
df= pd.read_csv("water_dataX.csv",encoding='unicode_escape')

In [4]:
df.dtypes

STATION CODE                        object
LOCATIONS                           object
STATE                               object
Temp                                object
D.O. (mg/l)                         object
PH                                  object
CONDUCTIVITY (µmhos/cm)             object
B.O.D. (mg/l)                       object
NITRATENAN N+ NITRITENANN (mg/l)    object
FECAL COLIFORM (MPN/100ml)          object
TOTAL COLIFORM (MPN/100ml)Mean      object
year                                 int64
dtype: object

In [5]:
# Converting object data type to numeric
def convert_to_numeric(df):
    num_col = df.shape[1]
    # Start from index 3
    for index in range(3, num_col):
        col_name = df.iloc[:, index].name
        df[col_name] = pd.to_numeric(df[col_name], errors="coerce")
    return df

df = convert_to_numeric(df)
df.dtypes

STATION CODE                         object
LOCATIONS                            object
STATE                                object
Temp                                float64
D.O. (mg/l)                         float64
PH                                  float64
CONDUCTIVITY (µmhos/cm)             float64
B.O.D. (mg/l)                       float64
NITRATENAN N+ NITRITENANN (mg/l)    float64
FECAL COLIFORM (MPN/100ml)          float64
TOTAL COLIFORM (MPN/100ml)Mean      float64
year                                  int64
dtype: object

In [6]:
# Replacing string NAN values with actual NAN value (np.nan)
def convert_to_nan(df):
    n_col = df.shape[1]
    for index in range(n_col):
        df.iloc[:, index]  = df.iloc[:, index].replace("NAN", np.nan)
    return df

df = convert_to_nan(df)

In [7]:
df.isnull().sum().sort_values()

year                                  0
PH                                    8
CONDUCTIVITY (µmhos/cm)              25
D.O. (mg/l)                          31
B.O.D. (mg/l)                        43
Temp                                 92
STATION CODE                        122
TOTAL COLIFORM (MPN/100ml)Mean      132
LOCATIONS                           184
NITRATENAN N+ NITRITENANN (mg/l)    225
FECAL COLIFORM (MPN/100ml)          316
STATE                               761
dtype: int64

In [8]:
df_num = df.select_dtypes(exclude="object")

In [9]:
df_cat = df.select_dtypes(include="object")
df_cat.isnull().sum()

STATION CODE    122
LOCATIONS       184
STATE           761
dtype: int64

In [10]:
df_num_col = df_num.columns
imputer = SimpleImputer(strategy="median")
new_num_df = imputer.fit_transform(df_num)
new_num_df = pd.DataFrame(new_num_df, columns=df_num_col)

In [11]:
new_num_df.isnull().sum()

Temp                                0
D.O. (mg/l)                         0
PH                                  0
CONDUCTIVITY (µmhos/cm)             0
B.O.D. (mg/l)                       0
NITRATENAN N+ NITRITENANN (mg/l)    0
FECAL COLIFORM (MPN/100ml)          0
TOTAL COLIFORM (MPN/100ml)Mean      0
year                                0
dtype: int64

In [12]:
df_cat_copy = df_cat.copy()

df_cat_copy[df_cat_copy["STATION CODE"] == "1330"]
# Station Code with value 1330 will have Location - TAMBIRAPARANI which belongs in STATE - TAMIL NADU
# I can replace all the NAN occurences in STATE with TAMILNADU
df_cat_copy["STATE"][df_cat_copy["STATION CODE"] == "1330"] = df_cat_copy["STATE"][df_cat_copy["STATION CODE"] == "1330"].fillna("TAMILNADU")

df_cat_copy[df_cat_copy["STATION CODE"] == "1330"]

,STATION CODE,LOCATIONS,STATE
166,1330,"TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU",TAMILNADU
424,1330,"TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU",TAMILNADU
677,1330,TAMBIRAPARANI AT ARUMUGANERI,TAMILNADU
1168,1330,TAMBIRAPARANI AT ARUMUGANERI,TAMILNADU
1351,1330,NaN,"TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU"
1513,1330,"TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU",TAMILNADU
1626,1330,"TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU",TAMILNADU
1745,1330,"TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU",TAMILNADU
1986,1330,"TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU",TAMILNADU

In [13]:
def fill_locations(df_cat):
    location_null = df_cat[df_cat["LOCATIONS"].isnull()]
    location_null_indices = location_null.index
    for index in location_null_indices:
        state_value = location_null["STATE"][index]
        location_null["LOCATIONS"][index] = state_value
        location_null["STATE"][index] = np.nan
    df_cat[df_cat["LOCATIONS"].isnull()] = location_null
    return

fill_locations(df_cat_copy)
df_cat_copy[df_cat_copy["STATION CODE"] == "1330"]

D:\anaconda\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

     STATION CODE                                LOCATIONS      STATE
166          1330  TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU  TAMILNADU
424          1330  TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU  TAMILNADU
677          1330             TAMBIRAPARANI AT ARUMUGANERI  TAMILNADU
1168         1330             TAMBIRAPARANI AT ARUMUGANERI  TAMILNADU
1351         1330  TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU        NaN
1513         1330  TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU  TAMILNADU
1626         1330  TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU  TAMILNADU
1745         1330  TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU  TAMILNADU
1986         1330  TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU  TAMILNADU

In [14]:
df_cat_copy[df_cat_copy["LOCATIONS"] == "TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU"]

     STATION CODE                                LOCATIONS      STATE
166          1330  TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU  TAMILNADU
424          1330  TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU  TAMILNADU
1351         1330  TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU        NaN
1513         1330  TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU  TAMILNADU
1626         1330  TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU  TAMILNADU
1745         1330  TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU  TAMILNADU
1896          NaN  TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU        NaN
1986         1330  TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU  TAMILNADU

In [15]:
# Now I can fill NULL values of Station code with corresponding LOCATION value(ex - above dataframe)
# I will match the corresponding LOCATION value with other same LOCATION value and insert the value of station code

def fill_code(df_cat):
    station_null = df_cat[df_cat["STATION CODE"].isnull()]
    station_null_indices = station_null.index
    for index in station_null_indices:
        stat_code = np.nan
        location_index = station_null["LOCATIONS"][index]
        code_at_location = df_cat["STATION CODE"][df_cat["LOCATIONS"] == location_index]
        for index_code in code_at_location.index:
            if (code_at_location[index_code] != np.nan):
                stat_code = code_at_location[index_code]
                break
        station_null["STATION CODE"][index] = stat_code
    df_cat[df_cat["STATION CODE"].isnull()] = station_null
    return

fill_code(df_cat_copy)
df_cat_copy[df_cat_copy["LOCATIONS"] == "TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU"]

D:\anaconda\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     STATION CODE                                LOCATIONS      STATE
166          1330  TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU  TAMILNADU
424          1330  TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU  TAMILNADU
1351         1330  TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU        NaN
1513         1330  TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU  TAMILNADU
1626         1330  TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU  TAMILNADU
1745         1330  TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU  TAMILNADU
1896         1330  TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU        NaN
1986         1330  TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU  TAMILNADU

In [16]:
# Filling all state NAN values which have corresponding station code value
def fill_state(df_cat):
    station_code = df_cat["STATION CODE"].unique()
    for index in range(station_code.shape[0]):
        if (station_code[index] != np.nan):
            df_state = df_cat["STATE"][df_cat["STATION CODE"] == station_code[index]] 
            state_values = df_cat["STATE"][df_cat["STATION CODE"] == station_code[index]]
            state = np.nan
            for index_state in range(state_values.shape[0]):
                if (state_values.iloc[index_state] != np.nan):
                    state = state_values.iloc[index_state]
                    break
            df_state_fill = df_state.fillna(state) 
            df_cat["STATE"][df_cat["STATION CODE"] == station_code[index]] = df_state_fill
    return
fill_state(df_cat_copy)
df_cat_copy[df_cat_copy["STATION CODE"] == "1330"]

     STATION CODE                                LOCATIONS      STATE
166          1330  TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU  TAMILNADU
424          1330  TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU  TAMILNADU
677          1330             TAMBIRAPARANI AT ARUMUGANERI  TAMILNADU
1168         1330             TAMBIRAPARANI AT ARUMUGANERI  TAMILNADU
1351         1330  TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU  TAMILNADU
1513         1330  TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU  TAMILNADU
1626         1330  TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU  TAMILNADU
1745         1330  TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU  TAMILNADU
1896         1330  TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU  TAMILNADU
1986         1330  TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU  TAMILNADU

In [17]:
df_cat_copy["STATE"][1106] = "KERALA"
df_cat_copy["STATE"][1107] = "KERALA"
df_cat_copy["STATE"][1650] = "CHANDIGARH"
df_cat_copy["STATE"][1651] = "CHANDIGARH"
df_cat_copy["STATE"][1652] = "CHANDIGARH"
df_cat_copy["STATE"][1770] = "CHANDIGARH"
df_cat_copy["STATE"][1771] = "CHANDIGARH"
df_cat_copy["STATE"][1772] = "CHANDIGARH"
df_cat_copy["STATE"][1784] = "DAMAN & DIU"
df_cat_copy["STATE"][1785] = "DAMAN & DIU"
df_cat_copy["STATION CODE"][1784] = "0000" # I am setting this according to myself
df_cat_copy["STATION CODE"][1785] = "0000"

In [18]:
df_cat = df_cat_copy
df_cat.isnull().sum()

STATION CODE    3
LOCATIONS       3
STATE           3
dtype: int64

In [19]:
df_final = pd.concat([df_cat, new_num_df], axis=1)
df_final.isnull().sum()

STATION CODE                        3
LOCATIONS                           3
STATE                               3
Temp                                0
D.O. (mg/l)                         0
PH                                  0
CONDUCTIVITY (µmhos/cm)             0
B.O.D. (mg/l)                       0
NITRATENAN N+ NITRITENANN (mg/l)    0
FECAL COLIFORM (MPN/100ml)          0
TOTAL COLIFORM (MPN/100ml)Mean      0
year                                0
dtype: int64

In [20]:
df_null = df_final[(df_final["STATION CODE"].isnull()) & (df_final["LOCATIONS"].isnull()) & (df_final["STATE"].isnull())]
df_null_indices = df_null.index
df_final.drop(df_null_indices, axis=0, inplace=True)

In [21]:
df_final.isnull().sum()

STATION CODE                        0
LOCATIONS                           0
STATE                               0
Temp                                0
D.O. (mg/l)                         0
PH                                  0
CONDUCTIVITY (µmhos/cm)             0
B.O.D. (mg/l)                       0
NITRATENAN N+ NITRITENANN (mg/l)    0
FECAL COLIFORM (MPN/100ml)          0
TOTAL COLIFORM (MPN/100ml)Mean      0
year                                0
dtype: int64

In [22]:
df_final_num=df_final.select_dtypes(exclude="object")
df_final_cat=df_final.select_dtypes(include="object")

In [23]:
df_num_final_norm = zscore(df_final_num, axis=0)
abs_z_scores = np.abs(df_num_final_norm)
filtered_entries = (abs_z_scores < 3).all(axis=1)
new_num_df_2 = df_final_num[filtered_entries]

In [24]:
new_num_df_2.shape

(1815, 9)

In [25]:
df_final_final = pd.concat([df_final_cat, new_num_df_2], axis=1)

In [31]:
df_final_final=df_final_final.dropna()

In [32]:
df_final_final.isnull().sum()

STATION CODE                        0
LOCATIONS                           0
STATE                               0
Temp                                0
D.O. (mg/l)                         0
PH                                  0
CONDUCTIVITY (µmhos/cm)             0
B.O.D. (mg/l)                       0
NITRATENAN N+ NITRITENANN (mg/l)    0
FECAL COLIFORM (MPN/100ml)          0
TOTAL COLIFORM (MPN/100ml)Mean      0
year                                0
dtype: int64

In [33]:
df_final_final.shape

(1815, 12)

In [34]:
df_final_final.to_csv('waterQ1.csv', index=False)

In [35]:
df2= pd.read_csv("waterQ1.csv",encoding='unicode_escape')

In [37]:
df2.head()

,STATION CODE,LOCATIONS,STATE,Temp,D.O. (mg/l),PH,CONDUCTIVITY (Âµmhos/cm),B.O.D. (mg/l),NITRATENAN N+ NITRITENANN (mg/l),FECAL COLIFORM (MPN/100ml),TOTAL COLIFORM (MPN/100ml)Mean,year
0,1393,"DAMANGANGA AT D/S OF MADHUBAN, DAMAN",DAMAN & DIU,30.6,6.7,7.5,203.0,1.8965,0.1,11.0,27.0,2014.0
1,1399,ZUARI AT D/S OF PT. WHERE KUMBARJRIA CANAL JOI...,GOA,29.8,5.7,7.2,189.0,2.0000,0.2,4953.0,8391.0,2014.0
2,1475,ZUARI AT PANCHAWADI,GOA,29.5,6.3,6.9,179.0,1.7000,0.1,3243.0,5330.0,2014.0
3,3181,RIVER ZUARI AT BORIM BRIDGE,GOA,29.7,5.8,6.9,64.0,3.8000,0.5,5382.0,8443.0,2014.0
4,3182,RIVER ZUARI AT MARCAIM JETTY,GOA,29.5,5.8,7.3,83.0,1.9000,0.4,3428.0,5500.0,2014.0